<!-- <div class="data">
      <p class="p">
        <strong>Titulo:</strong> Fisica I, <strong>Edificio:</strong> C05, <strong>Salón:</strong> 201<br>
        <strong>Tipo:</strong> Clase, <strong>NRC:</strong> 1020, <strong>Día:</strong> Lunes, <br> 
        <strong>Inicio:</strong> 9:00hrs, <strong>Final:</strong> 10:59hrs, <strong>Seccion:</strong> 101
      </p>
      <button class="btn delete" id="btn">Eliminar</button>
    </div> -->