<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro</title>
  <link rel="stylesheet" href="css/style.css">
  <style>
	.box-message {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
  }
  .validation {
    border-radius: 8px;
    text-align:center;
    width: auto;
    height: auto;
    background-color: lightblue;
    padding: 0 10px;
  }
	</style>
</head>
<body>
    <div class="header">
        <div class="wrapper">
          <div style="display:flex;">
            <img src="images/buap_blue.png" alt="" >
            <div style="display: flex;">
              <img src="images/fccmin.png" alt="" style="width: 54px; height: 71px;">
              <p style="margin-left:4px;color:#bde5ff;font-weight:600; align-self:center;">Facultad de <br>Cs. de la Computación</p>
            </div>
          </div>
    
          <nav class="menu" id="listMenu">
            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="/teachers">Profesores</a>
            </li>
            <li>
              <a href="/about">Nosotros</a>
            </li>
            <li>
                <a href="/profile">Perfil</a>
            </li>
          </nav>
          <span class="icon icon-menu" id="burguerMenu"></span>
          
        </div>
      </div>
  <div class="container">
    <section class="box-message">
      <div class="validation">
      <p> {{ responseMessage }} </p>
      </div>
    </section>

    <div class="info">
      <p style="font-size:1.3em; font-weight:bold;">Registrarse</p>
      <p>Crea una nueva cuenta</p>
    </div>
    <form action="/saved" class="login registro" method="post">
      <div class="form-group">
        <input type="text" name="name" placeholder="Nombre(s)">
        <input type="text" name="last-name" placeholder="Apellidos">
      </div>
      <input type="email" name="email" id="" placeholder="Correo Electronico">
      <input type="text" name="matricula" id="" placeholder="Matricula">
      <input type="password" name="password" id="" placeholder="Password">
      <input type="date" data-date-format="YYYY MMMM DD" name="date" id="" value="1900-01-01">
      <input type="text" name="sexo" id="" placeholder="Sexo">
      <p class="desc">Al hacer clic en "Continuar", aceptas las <span class="span-focus">Condiciones</span> y la <span class="span-focus">Política de privacidad</span></p>
      <p class="desc">Aceptas que almacenemos cookies en tu dispositivo para recopilar datos de búsqueda, ubicación y navegación a fin de adaptar el contenido a tus intereses, proteger nuestros productos, crear nuevos productos y mejorar los existentes.</p>
      <button class="btn primary" style="height:50px;">Continuar</button>
    </form>
    <p>¿Ya tienes una cuenta? <span class="span-focus"><a href="login">Iniciar sesión</a></span></p>
  </div>
  <footer class="footer">
      <form action="" class="form">
        <div class="item logos">
          <div style="height:90px;display:inherit;align-items:center;">
            <img src="images/logo_buap.png" alt="" width="170px" height="45px">
          </div>
          <img src="images/fccmin.png" alt="" width="25%" height="30%">
          <p class="direction">Facultad de Cs. de la Computación
              14 Sur y Av. San Claudio C.P.
              Puebla, Puebla, México
          </p>
          <p class="email">Email:<br> profesorsfcc@buap.com.mx </p>
        </div>
        <div class="item information">
          <p>Boletin</p>
          <label for="name">Nombre</label>
          <input type="text" name="name">
          <label for="email">Email</label>
          <input type="email" name="email">
        </div>
        <div class="item description">
          <p>Comentarios</p>
          <textarea name="comentarios" id="" cols="30" rows="10"></textarea>
          <button class="btn sbm" type="submit">Enviar</button>
        </div>
      </form>
    </footer>
  <script src="js/toggle.js"></script>
</body>
</html>